body {
    background-color: rgba(161, 28, 0, 0.89);
    }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: blanchedalmond;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    }

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    color: rgba(27, 6, 1, 0.89);
    }

#menuBG {
    width: 500px;
    height: 470px;
    margin: 10px auto;
    }

#frmMenu {
    width: 600px;
    height: 200px;
    }   

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: right;
    }

.left {
    width: 200px;
    height: 200px;
    float: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    }

.center {
    width: 200px;
    height: 200px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    }

.right {
    width: 200px;
    height: 200px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    }

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    }

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    }

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
    }

/*------------------------
   Message Form Styling
------------------------*/

/*Button used to open the contact form- fixed to the bottom of the page*/
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/*The popup form - hidden by default*/
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/*Add styles to the form container*/
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/*Input fields*/
.form-container input[type=text], .form-container input[type=message] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/*When the inputs get focus, do something*/
.form-container input[type=text]:focus, .form-container input[type=message]:focus {
    background-color: #ddd;
    outline: none;
}

/*Set a style for the submit/login button*/
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/*Add a red bg color to the cancel button*/
.form-container .cancel {
    background-color: red;
}

/*Add some hover effects to buttons*/
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

