h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*This container includes the table and the canvas*/
.center-container {
    width: 608px;                   /*sets width of the container*/
    margin: 0 auto;                 /*centers the container*/
    margin-top: 50px;               /*50px down from the top*/
}

table {
    border-collapse: collapse;      /*collapses border into 1 border*/
    border-style: hidden;           /*hides outer borders on the table*/
}

td {
    cursor: pointer;                /*index finger pointing hand*/
    border: 4px solid rgba(64, 6, 157, .8);  
    padding: 0px;                   /*removes default padding*/
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {
    position: absolute;             /*sets the position of the canvas to the top left corner of the container*/
    z-index: 10;                    /*places the canvas over the top of the table*/
    pointer-events: none;           /*makes the canvas invisible*/
}